.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.container{
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  min-width: 400px;
  position: relative;
  overflow-y: scroll;
}

.search{
  position: absolute;
  width: 90%;
  height: 50px;
  border: 1px solid #58b195; 
  top: 10px;
  left: 5%;
  z-index: 10;
  
}

.barner{
  width: 90%;
  height: 100px;
  margin-top: 70px;
  margin-left: 5%;
  background: #58b195;
}

.catalog{
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.catalogItem{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
  background: red;
  margin: 8px;
}

.listItem{
  width: 100%;
  height: 50px;
  background: green;
  margin-top: 5px;
}